<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/media/Favicon.jpg" sizes="16x16 32x32" type="image/png">
    <title>Business Work- About</title>
</head>
<body>
    <section>
        <h2>About Business Work</h2>
        <p>There is a lot of problem is faced now a days by businessman. They have to write down in the copy or notebook. Because they can't afford to much money to make build their personal website for it. So i created a website app for that seller, who wants to use free or very low cost to buy the website.</p>
        </section>
        
        <section>
        <h2>About Developer</h2>
        <p>I'm <b>Lakhanlal Gupta</b> from Computer Science and Engineering branch. I'm a full stack developer with django. I'm also a graphics designer and photoshop artist.</p>
        </section>
        <div class="form-group row">
			<div class="col-8 offset-4">
				<p><a href="/vendor/businesswork/"><b>Back</b></a></p>
			</div>  
		</div> 
    
</body>
</html>